*{
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(to top, #2f1dec, #0043f6, #005cfc, #0072ff, #0085ff);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
h2{
  font-size: 30px;
}
.App{
  padding: 40px;
  background: #fff;
  width: 80%;
  margin: 100px auto;
  box-shadow: 1px 2px 5px #eee;  
}
input{
  width: 70%;
  border: 0;
  padding: 3px 10px;
  background: #e8e8e8 ;
}
button{
  width: 20%;
  border: 0;
  padding: 6px 0;
  margin: 0px 5px;
  outline: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background: #4dc55b;
  border-radius: 5px;
}
ul{
  margin-top: 50px;
  list-style: none;
}
li{
  text-transform: capitalize;
  margin: 15px 0px ;
}
 